name: Deploy to Production

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@master
        with:
          # Server Details
          host: "84.235.251.78"
          username: "ubuntu"
          port: 22
          
          # This connects to the Secret you added on GitHub website
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          
          # The commands the robot will run on your server:
          script: |
            cd ~/robotpeople
            git pull origin main
            docker compose up -d --build
            docker image prune -f
